@model Repules.Models.ListApplicationUserViewModel

<div class="container">
    <div class="card card-cascade narrower mt-5 p-3">
        <div class="px-4">
            <h3>Biztos benne, hogy el akarja távolítani ezt a felhasználót?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.UserId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UserId)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <a asp-action="Index" class="btn btn-primary btn-sm"><i class="fas fa-arrow-circle-left fa-lg"></i> Vissza a felhasználókhoz</a>
                    <input type="submit" value="Törlés" class="btn btn-danger btn-sm" />
                </form>
            </div>
        </div>
     </div>
</div>
