@model IEnumerable<Repules.Models.ListApplicationUserViewModel>

@{
    ViewData["Title"] = "Felhasználók";
}

<div class="panel panel-info">
    <div class="panel-heading">Felhasználók</div>
    <div class="panel-body">
        <p>
            <a asp-action="Create">Új felhasználó létrehozása</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.ActionLink("Szerkesztés", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Törlés", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
