@model Repules.Models.AirportViewModel

@{
    ViewData["Title"] = "Törlés";
}

    <div class="container">
        <div class="card card-cascade narrower mt-5 p-3">
            <div class="px-4">

                <h3>Biztosan törölni szeretnéd?</h3>
                <hr />
                <dl class="dl-horizontal">
                    <dt style="display:none;">
                        @Html.DisplayNameFor(model => model.AirportId)
                    </dt>
                    <dd style="display:none;">
                        @Html.DisplayFor(model => model.AirportId)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Latitude)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Latitude)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Longitude)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Longitude)
                    </dd>
                </dl>
                <form asp-action="Delete">
                    <a asp-action="Index" class="btn btn-primary btn-sm"><i class="fas fa-arrow-circle-left fa-lg"></i> Vissza a repülőterekhez</a>
                    <input type="submit" value="Törlés" class="btn btn-danger btn-sm" />
                </form>
            </div>
            </div>
        </div>
