@model IEnumerable<Repules.Models.AirportViewModel>

@{
    ViewData["Title"] = "Repülőterek";
}

    <div class="panel panel-info">
        <div class="panel-heading">Repülőterek</div>
        <div class="panel-body">
            <p>
                <a asp-action="Create">Új repülőtér hozzáadása</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WeatherIcon)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Latitude)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Longitude)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td align="center" style=" background-color: #d9edf7;">
                            <img src=@($"http://openweathermap.org/img/wn/{item.WeatherIcon}.png") alt="Icon">
                            @Html.DisplayFor(modelItem => item.WeatherMain)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Latitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Longitude)
                        </td>
                        <td>
                            @Html.ActionLink("Szerkesztés", "Edit", new { id = item.AirportId }) |
                            @Html.ActionLink("Törlés", "Delete", new { id = item.AirportId })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>