
@model Repules.Models.AdminFlightViewModel

@{
    ViewData["Title"] = "Részletek";
}

<div class="panel panel-info">
    <div class="panel-heading">Részletek</div>
    <div class="panel-body">
        <h2>@Model.UserName : @Model.Date</h2>

        <div class="split left">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Duration)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Duration)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DepartureName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DepartureName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ArrivalName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ArrivalName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt></dt>
                <dd>
                    @if (Model.Status == "Elfogadásra vár")
                    {
                        <form asp-controller="AdminFlight" asp-action="Accept" method="post">
                            @Html.HiddenFor(f => f.FlightId)
                            <button type="submit" class="button">Elfogad</button>
                        </form>

                        <form asp-controller="AdminFlight" asp-action="Decline" method="post">
                            @Html.HiddenFor(f => f.FlightId)
                            <button type="submit" class="button">Elutasít</button>
                        </form>
                    }
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Index">Vissza a repülésekhez</a>
        </div>
        <div id='printoutPanel'></div>
        <div id='myMap' style='width: 50%; height: 400px;'></div>
    </div>
</div>

@section HeadScripts {
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=ktnYkxyV68hnc5EnA94w~-Qmrtso-O42fIdrGJr3Elw~Ap2LjT1Ohl8rTixC9qR_99mdpxPyAoESbnv4uPKH1TBMusHVwTOIkvs9EO2bQnb9'></script>
    <script type='text/javascript'>
        var map;
        var records = @Html.Raw(Model.GPSRecords);
        function loadMapScenario() {
            map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
            var locs = records.map(x => new Microsoft.Maps.Location(x.Latitude, x.Longitude));
            var rect = Microsoft.Maps.LocationRect.fromLocations(locs);
            map.setView({ bounds: rect, padding: 1 });
            for (var i = 0; i < records.length-1 ; i++) {
            var first = records[i];
            var second = records[i + 1];
            var polyline = new Microsoft.Maps.Polyline([
            new Microsoft.Maps.Location(first.Latitude, first.Longitude),
            new Microsoft.Maps.Location(second.Latitude, second.Longitude)], {strokeColor: new Microsoft.Maps.Color(second.ColorA,second.ColorR,second.ColorG, second.ColorB), strokeThickness: 3});
            map.entities.push(polyline);

        }
      }
    </script>
}
@section Scripts {
    <script>
        document.querySelector("body").onload = loadMapScenario;
    </script>
}
